<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Oritorius - İlk Django uygulaması!</title>
</head>
<style>
	body {
		width: 990px;
		margin: auto;
	}
	div {
		border-bottom: 1px solid #333;
		padding-bottom: 3px;
	}
</style>
<body>

	<h1>Oritorius Django</h1><hr>

	<div>
		<h3>İlk blog yazısı</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quidem itaque et? Atque eum, impedit deserunt cum ad amet minus debitis. Est tenetur eligendi aperiam sapiente ratione beatae iusto deleniti!</p>
		<small>Tarih: 19/12/2018</small>
	</div>

	<div>
		<h3>İlk blog yazısı</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quidem itaque et? Atque eum, impedit deserunt cum ad amet minus debitis. Est tenetur eligendi aperiam sapiente ratione beatae iusto deleniti!</p>
		<small>Tarih: 19/12/2018</small>
	</div>
	
</body>
</html>